.loginContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  // grid-gap: 10px;
  grid-auto-rows: minmax(30px, auto);

  max-width: 300px;
  margin: 0 auto;
}

.btnLogin {
  max-width: 100px;
  min-width: 100px;
  margin: 0 0 0 auto;
}